<div class="alpha60" id="footer">			
    <p id="name">
    <strong>Women in Botany</strong>
        v. [% c.VERSION %], last change [% c.last_modified %], &copy; Project
        Woman in Botany 
        <br /> DB:
        [% c.model('WomeninBotanyDB').connect_info.dsn.remove('[^=]*=') %]
    </p>                         
</div>
</div>
</body>
</html>
